:root {
  --color-primary: #003d5b;
  --color-primary-light: #30638e;
  --color-highlight: #00798c;
  --color-highlight-dark: #005866;
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background-50: #424951;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-red: #d1495b;
  --color-red-dark: #872a2a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (max-width: 1000px) {
  html {
    font-size: 58%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--color-text);
  background-color: var(--color-background-900);
  padding: 2.4rem;
}

/* Navigation Bar */
.nav-bar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  min-width: 30rem;
  height: auto;
  padding: 1rem 3.2rem;
  background-color: var(--color-primary);
  border-radius: 0.9rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-right: 2rem;
}

.logo span {
  font-size: 3.2rem;
}

.logo h1 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
}

.search-navbar {
  min-width: 8rem;
  border: none;
  padding: 1.1rem 1.6rem;
  font-size: 1.8rem;
  border-radius: 0.7rem;
  width: auto;
  transition: all 0s;
  color: var(--color-text);
  background-color: var(--color-primary-light);
  z-index: 1; /* Ensure search bar stays above other elements */
}

.search-navbar::placeholder {
  color: var(--color-text-dark);
}

.search-navbar:focus {
  outline: var(--color-highlight) solid 2px;
}

.num-results {
  font-size: 1.5rem;
  color: var(--color-text-dark);
}

/* Filter and Sort Bar */
.filter-sort-bar {
  display: flex;
  height: auto;
  min-height: 4.4rem;
  border-radius: 0.9rem;
  padding: 0.8rem 0;
  gap: 2rem;
}

.filter-sort-box {
  display: flex;
  align-items: center;
  width: calc(50% - 1rem);
}

.sort {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 0.6rem;
  font-size: 1.4rem;
  color: var(--color-text-dark);
  white-space: nowrap;
}

.sort select {
  height: 2.2rem;
  min-width: 9.5rem;
  border-radius: 0.9rem;
  padding: 0.1rem;
  background-color: var(--color-text-dark);
  border: none;
}

.sort select:focus-visible {
  outline: none;
}

.pages {
  display: flex;
  align-items: center;
  padding-right: 0.8rem;
  font-size: 1.4rem;
  color: var(--color-text-dark);
}

.pages input {
  height: 2rem;
  padding-left: 0.3rem;
  padding-top: 0.1rem;
  border-radius: 0.9rem;
  background-color: var(--color-text-dark);
  width: 2.5rem;
  font-weight: bold;
  border: none;
}


/* Main Content Area */
.main {
  margin-top: 0rem;
  height: calc(100vh - 6rem - 3 * 2rem); /* Consider simplifying this calculation */
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.box {
  width: 100%;
  background-color: var(--color-background-500);
  border-radius: 0.9rem;
  overflow: scroll;
  position: relative;
}

.loader {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  margin: 4.8rem;
}

.error {
  text-align: center;
  font-size: 2rem;
  padding: 4.8rem;
}

/* ******* */

.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-right:2rem;
}

.logo span {
  font-size: 3.2rem;
}

.logo h1 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
}

.search-navbar {
  max-width: 100%;
    min-width: 8rem;
  /* justify-self: center; */
  border: none;
  padding: 1.1rem 1.6rem;
  font-size: 1.8rem;
  border-radius: 0.7rem;
  width: auto;
  transition: all 0s;
  color: var(--color-text);
  z-index: 1;

  background-color: var(--color-primary-light);
}

.search-navbar::placeholder {
  color: var(--color-text-dark);
}

.search-navbar:focus {
  outline: var(--color-highlight) solid 2px;

  /* box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); */
}

.num-results {
  font-size: 1.5rem;
  color: var(--color-text-dark);
}

.btn-toggle-box {
  white-space: nowrap;
  margin-top:0.1rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
 /*  border-radius: 50%; */
  border: none;
   background-color: var(--color-background-500);
  color: var(--color-text);
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 999;


}


.box.header-wrapper:hover .btn-toggle-box {
  opacity: 0.3;
}

.header-wrapper:hover > .hidden-overlay {
  opacity: 1;
}

.btn-toggle-box {
  opacity: 0;
  transition: opacity 0.3s ease; /* Optional for smooth transition */
}

.btn-add-page {
  position: relative;
  top: 0rem;
  right: 0rem;
  height: 2rem;
  height: 2rem;
  width: 2rem;
  padding: 0.1rem;
  border-radius: 50%;
  border: none;
  background-color: var(--color-background-100);
  color: var(--color-text);
  font-size: 1.4rem;
  font-weight: bold;

  z-index: 2;
}

.btn-add-page:active {
  border: none;
  outline: var(--color-text-dark) solid 2px;
}

.btn-reverse {
  background-color: var(--color-background-900);
  margin-left: 0.8rem;
  font-family: sans-serif;
  font-size: 1.5rem;
  color: var(--color-text);
  border: none;
}

.list {
  list-style: none;
  padding: 0 0;
  overflow: scroll;
  background-color: var(--color-background-500);
}

.list-watched {
  height: calc(100% - 9rem);
  cursor: pointer;
}

.list li {
  position: relative;
  display: grid;
  grid-template-columns: 5.5rem 1fr;
  grid-template-rows: auto auto 1rem;
  column-gap: 2rem;
  font-size: 1.4rem;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid var(--color-background-100);
}

.list.list-movies li {
  cursor: pointer;
  transition: all 0.3s;
}

.list.list-movies li:hover {
  background-color: var(--color-background-100);
}

.list img {
  width: 100%;
  grid-row: 1 / -1;
}

.list h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

.list h2 {
  font-size: 1.8rem;
  font-weight: 400;
}

.list div {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.list p {
  display: flex;
  /* min-width:3.6rem; */
  align-items: center;
  gap: 0.8rem;
}

.imdbRating {
  min-width:12rem;
}

.userRating {
  min-width:3.6rem;
}

.rtRating {
  min-width:3.6rem;
}

.Year {
  min-width:5.5rem;
}

.Runtime {
  min-width:7rem;
}



.btn-delete {
  position: absolute;
  right: 2.4rem;

  height: 1.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-red);
  color: var(--color-background-900);
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-delete:hover {
  background-color: var(--color-red-dark);
}

/* ******* */

.summary {
  position: sticky;
  top: 2.2rem;
  padding: 1.4rem 3.2rem 1.4rem 3.2rem;
  border-radius: 0rem 0rem 0rem 3rem;
  background-color: var(--color-background-100);
  /* box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.01); */
  margin-bottom: 0rem;
  z-index: 1;
}

.summary h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}

.summary div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.summary p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* ******* */

.details {
  line-height: 1.4;
  font-size: 1.4rem;
}

.details header {
  display: flex;
  background-color: var(--color-background-100);


}

.details header {  /* Or add a class to the header content div */
  position: relative; /* Key change */
}

.details section {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.details img {
  width: 33%;
}

.details-overview {
  width: 100%;
  padding: 2.4rem 3rem;
  background-color: var(--color-background-100);
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.details-overview h2 {
  font-size: 2.4rem;
  margin-bottom: 0.4rem;
  line-height: 1.1;
}

.details-overview p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.details-overview a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.rating {
  background-color: var(--color-background-100);
  border-radius: 0.9rem;
  padding: 2rem 2.4rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.btn-add {
  background-color: var(--color-primary-light);
  color: var(--color-text);
  border: none;
  border-radius: 10rem;
  font-size: 1.4rem;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-more {
  background-color: var(--color-background-500);
  color: var(--color-primary-light);
  border: none;
  border-radius: 10rem;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  margin-left: 1rem;
}

.btn-add:hover {
  background-color: var(--color-primary);
}

.btn-delete-big {
  position: absolute;
  top: 5.8rem;
  right: 0.8rem;
  height: 2.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-red);
  color: var(--color-background-900);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  margin-right: 0.9rem;
  transition: all 0.3s;
}

.btn-delete-big:hover {
  background-color: var(--color-red-dark);
}

.btn-back {
  position: sticky;
  top: 0.6rem;
  left: 0.6rem;
  margin-top: -3.2rem;
  margin-left: -3.2rem;
  height: 3.2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  color: var(--color-background-500);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
  font-family: sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  /* transform: translate(80px, 80px) scale(1.5, 1.5) rotate(45deg); */
}

.btn-back:hover {
  background-color: var(--color-text-dark);
}

.details.header-wrapper:hover .btn-back {
  opacity: 1;
}

.btn-back {
  opacity: 0;
  transition: opacity 0.3s ease; /* Optional for smooth transition */
}


.btn-filter-form-toggle {
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  height: 2.6rem;
  border-radius: 0.9rem;
  font-size: 1.4rem;
  padding: 0.4rem 0.8rem 0rem 0.8rem;
  margin-right: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.btn-filter-tag {
  height: 2.2rem;
  width: auto;
  background-color: var(--color-red);
  color: var(--color-text);
  border: none;
  border-radius: 0.9rem;
  font-size: 1.4rem;
  padding: 0.1rem 0.7rem 0.1rem 0.7rem;
  margin-right: 1rem;
  margin-top:0.3rem;
  margin-bottom:0.3rem;
  font-weight: normal;
  cursor: pointer;
  transition: all 0.3s;
  white-space: nowrap
}

.filter-tags {
  display: block;
  max-width:40rem;
overflow:auto;
  gap:3rem;
}

.btn-filter-form-toggle:focus {
  border: none;
  outline: var(--color-primary-light) solid 2px;
  transform: translateX(2px);
}

.btn-filter-form-toggle:active {
  border: none;
  outline: var(--color-primary-light) solid 2px;
  transform: translateX(2px);
}

.filter-form-content {
  position: sticky;
  top: 0;
  display: flex;
  gap: 1rem;
  background-color: var(--color-primary);
  margin: auto auto;
  border-bottom: 2px solid var(--color-highlight);
  width: 100%; /* Could be more or less, depending on screen size */
  border-radius: 0.9rem 0.9rem 0rem 0rem;
  box-shadow: 0 1.4rem 1.4rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  z-index: 998;

}

.filter-form-content h2 {
  margin-top: 0rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.filter-form-content div {
  margin-bottom: 0rem;
}

.filter-form-content label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.filter-form-content select,
.filter-form-content input {
  height: 2.2rem;
  min-width: 7rem;
  padding: 0.1rem 0.3rem 0.1rem 0.3rem;
  border-radius: 0.9rem;
  background-color: var(--color-text-dark);
  border: none;
}

.rmsc input {
   padding: 0.8rem 0.8rem 0.8rem 0.8rem !important;
  height: 2.2rem !important;
  min-width: 2rem;
  padding: 0rem 0rem 0rem 0rem;
  border-radius: 0.5rem;
  background-color: var(--color-text-dark);
  border: none;
}

.rmsc .search {
  width: 100%;
  position: relative;
  margin-bottom:0.4rem !important;
 /*  border-bottom: 1px solid var(--rmsc-border) !important; */
}

.rmsc .search input {
  font-size:1.4rem !important;
}

.rmsc button {
  /* background-color: var(--color-red); */
  color: var(--color-text);
  border: none;
  border-radius: 10rem;
  font-size: 1.4rem;
  aspect-ratio: 1;
  padding: 1rem;
  margin-top: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.rmsc .clear-selected-button {
  cursor: pointer;
  /* background: none; */
  background-color: var(--color-red) !important;
  border: 0;
  padding: 0rem !important;
  margin:0rem !important;
  margin-left:0.2rem !important;
  margin-right:0.2rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width:1.4rem !important;
  height:1.4rem !important;
}

.rmsc .clear-selected-button:hover {
  background-color: var(--color-red-dark) !important;
}

.rmsc .clear-selected-button div{
  margin-bottom:0.1rem !important;
}

.rmsc .search-clear-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: none;
  border: 0;
  padding: 0 calc(var(--rmsc-p) / 2);
  width:1.4rem !important;
  height:1.4rem !important;
}



.rmsc label {
  display: block;
  margin: 0rem !important;
  font-weight: normal;
}

.rmsc span {
  font-size:1.4rem;
  white-space: nowrap;
}

.rmsc .item-renderer {
  display: flex;
  align-items: center !important;
}

.rmsc .dropdown-container {

  background-color: var(--color-text-dark) !important;
  width:auto !important;
}

.rmsc .select-panel {
  margin:0.4rem;

}

.rmsc .dropdown-content .panel-content {
  /* outline: var(--color-background-500) solid 0.1rem !important; */
   border: 0.1rem solid #575c62 !important;
   border-radius: 0.6rem !important;
  box-shadow: 1px 1px 1px 1px #000;

}

.rmsc .dropdown-heading .dropdown-heading-value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  margin-bottom:0.1rem !important;
}

.rmsc .dropdown-heading .dropdown-heading-value span{
  font-size:1.4rem;
}

.rmsc .dropdown-content {
  position: absolute;
  z-index: 1;
  top: 100%;
  /* width: 100%; */
  width:auto !important;
  padding-top: 0.4rem !important;

}

input[type="checkbox" i] {
  height:1.2rem !important;
  background-color: initial;
  cursor: default;
  margin: 0px 0px 0px 0px !important;
  padding: initial;
  border: initial;
}

.rmsc .select-item {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  padding-left: 0px !important;
  padding-top: 0.4rem !important;
  padding-bottom: 0.4rem !important;
  outline-offset: -1px;
  outline-color: var(--rmsc-primary);
  border-radius: 0.4rem !important;
}

.rmsc {
  --rmsc-main: var(--color-primary) !important;
  --rmsc-hover: var(--color-text-dark) !important;
  --rmsc-selected: var(--color-highlight) !important;
  --rmsc-gray: black !important;
 /*  --rmsc-bg: var(--color-background-100) !important; */
 --rmsc-bg: linear-gradient(to bottom left, #2e3b43, #293036) !important;
  --rmsc-p: 5px !important; /* Spacing */
  --rmsc-radius: 0.9rem !important; /* Radius */
  --rmsc-h: 2.2rem !important; /* Height */
  --rmsc-border: 0px solid !important;
}



.filter-form-content select:focus-visible {
  border: none;
  outline: none;
}

.filter-form-content select:active {
  border: none;
  outline: var(--color-text) solid 2px;
}

.filter-form-content button {
  background-color: var(--color-primary-light);
  color: var(--color-text);
  border: none;
  border-radius: 10rem;
  font-size: 1.4rem;
  padding: 1rem;
  margin-top: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.filter-form-content button:hover {
  background-color: var(--color-primary);
}



.arrow {
  border: solid var(--color-background-900);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-left:0.6rem;
  margin-right:0.3rem;
  margin-bottom:0.2rem;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  margin-top:0.8rem !important;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);


}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}







