:root {
  --color-primary: #003d5b;
  --color-primary-light: #30638e;
  --color-highlight: #00798c;
  --color-highlight-dark: #005866;
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background-50: #424951;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-red: #d1495b;
  --color-red-dark: #872a2a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;

  color: var(--color-text);
  background-color: var(--color-background-900);
  padding: 2.4rem;
}

/* ******* */

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  height: auto;
  padding: 1rem 3.2rem;
  background-color: var(--color-primary);
  border-radius: 0.9rem;
}

.filter-sort-bar {
  display: flex;
  height: auto;
  background-color: none;
  border-radius: 0.9rem;
  padding: 0.8rem 0 0.8rem 0;
  gap: 2rem;
}

.filter-sort-box {
  display: flex;
  align-items: center;
  width: calc(50% - 1rem);
  max-width: calc(50% - 1rem);
}

.sort {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 0.6rem;
  font-size: 1.4rem;
  color: var(--color-text-dark);
}

.pages {
  display: flex;
  align-items: center;
  /* margin-left: auto; */
  padding-right: 0.8rem;
  font-size: 1.4rem;
  color: var(--color-text-dark);
}

.pages input {
  height: 2rem;
  padding-left: 0.3rem;
  padding-top: 0.1rem;
  border-radius: 0.9rem;
  background-color: var(--color-text-dark);
  width: 2.5rem;
  font-weight: bold;
  border: none;
}

/* .pages input:focus {
  border: none;
  outline: var(--color-text) solid 2px;
}

.pages input:active {
  border: none;
  outline: var(--color-text) solid 2px;
} */

.sort select {
  height: 2.2rem;
  min-width: 9.5rem;
  border-radius: 0.9rem;
  padding: 0.1rem;
  background-color: var(--color-text-dark);
  border: none;
}

.sort select:focus-visible {
  border: none;
  outline: none;
}

.pages select:active {
  border: none;
  outline: var(--color-text) solid 2px;
}

.main {
  margin-top: 0rem;
  height: calc(100vh - 6rem - 3 * 2rem);
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.box {
  width: 100%;
  max-width: 100%;
  background-color: var(--color-background-500);
  border-radius: 0.9rem;
  overflow: scroll;
  position: relative;
}

.loader {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  margin: 4.8rem;
}

.error {
  text-align: center;
  font-size: 2rem;
  padding: 4.8rem;
}

/* ******* */

.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo span {
  font-size: 3.2rem;
}

.logo h1 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
}

.search {
  justify-self: center;
  border: none;
  padding: 1.1rem 1.6rem;
  font-size: 1.8rem;
  border-radius: 0.7rem;
  width: 40rem;
  transition: all 0s;
  color: var(--color-text);
  z-index: 1;

  background-color: var(--color-primary-light);
}

.search::placeholder {
  color: var(--color-text-dark);
}

.search:focus {
  outline: var(--color-highlight) solid 2px;

  /* box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); */
}

.num-results {
  font-size: 1.5rem;
  color: var(--color-text-dark);
}

.btn-toggle-box {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  height: 2.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-background-900);
  color: var(--color-text);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 999;
}

.btn-add-page {
  position: relative;
  top: 0rem;
  right: 0rem;
  height: 2rem;
  height: 2rem;
  width: 2rem;
  padding: 0.1rem;
  border-radius: 50%;
  border: none;
  background-color: var(--color-background-100);
  color: var(--color-text);
  font-size: 1.4rem;
  font-weight: bold;

  z-index: 999;
}

.btn-add-page:active {
  border: none;
  outline: var(--color-text-dark) solid 2px;
}

.btn-reverse {
  background-color: var(--color-background-900);
  margin-left: 0.8rem;
  font-family: sans-serif;
  font-size: 1.5rem;
  color: var(--color-text);
  border: none;
}

.list {
  list-style: none;
  padding: 0 0;
  overflow: scroll;
  background-color: var(--color-background-500);
}

.list-watched {
  height: calc(100% - 9rem);
  cursor: pointer;
}

.list li {
  position: relative;
  display: grid;
  grid-template-columns: 5.5rem 1fr;
  grid-template-rows: auto auto 1rem;
  column-gap: 2rem;
  font-size: 1.4rem;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid var(--color-background-100);
}

.list.list-movies li {
  cursor: pointer;
  transition: all 0.3s;
}

.list.list-movies li:hover {
  background-color: var(--color-background-100);
}

.list img {
  width: 100%;
  grid-row: 1 / -1;
}

.list h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

.list h2 {
  font-size: 1.8rem;
  font-weight: 400;
}

.list div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.list p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.btn-delete {
  position: absolute;
  right: 2.4rem;

  height: 1.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-red);
  color: var(--color-background-900);
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-delete:hover {
  background-color: var(--color-red-dark);
}

/* ******* */

.summary {
  position: sticky;
  top: 2.2rem;
  padding: 1.4rem 3.2rem 1.4rem 3.2rem;
  border-radius: 0rem 0rem 0rem 3rem;
  background-color: var(--color-background-100);
  /* box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.01); */
  margin-bottom: 0rem;
  z-index: 999;
}

.summary h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}

.summary div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.summary p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* ******* */

.details {
  line-height: 1.4;
  font-size: 1.4rem;
}

.details header {
  display: flex;
  background-color: var(--color-background-100);
}

.details section {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.details img {
  width: 33%;
}

.details-overview {
  width: 100%;
  padding: 2.4rem 3rem;
  background-color: var(--color-background-100);
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.details-overview h2 {
  font-size: 2.4rem;
  margin-bottom: 0.4rem;
  line-height: 1.1;
}

.details-overview p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.details-overview a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.rating {
  background-color: var(--color-background-100);
  border-radius: 0.9rem;
  padding: 2rem 2.4rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.btn-add {
  background-color: var(--color-primary-light);
  color: var(--color-text);
  border: none;
  border-radius: 10rem;
  font-size: 1.4rem;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-more {
  background-color: var(--color-background-500);
  color: var(--color-primary-light);
  border: none;
  border-radius: 10rem;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  margin-left: 1rem;
}

.btn-add:hover {
  background-color: var(--color-primary);
}

.btn-delete-big {
  position: absolute;
  top: 5.8rem;
  right: 0.8rem;
  height: 2.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-red);
  color: var(--color-background-900);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 997;
  margin-right: 0.9rem;
  transition: all 0.3s;
}

.btn-delete-big:hover {
  background-color: var(--color-red-dark);
}

.seconds {
  background-color: var(--color-background-100);
  width: 8rem;
  border-radius: 10rem;
  font-weight: 600;
  text-align: center;
  padding: 0.4rem;
  margin-top: 2.4rem;
}

.btn-back {
  position: sticky;
  top: 0.6rem;
  left: 0.6rem;
  margin-top: -3.2rem;
  margin-left: -3.2rem;
  height: 3.2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  color: var(--color-background-500);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
  font-family: sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  /* transform: translate(80px, 80px) scale(1.5, 1.5) rotate(45deg); */
}

.btn-back:hover {
  background-color: var(--color-text-dark);
}

.btn-filter-form-toggle {
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  height: 2.6rem;
  border-radius: 0.9rem;
  font-size: 1.4rem;
  padding: 0.4rem 0.8rem 0rem 0.8rem;
  margin-right: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.btn-filter-tag {
  height: 2.2rem;
  width: 6rem;
  background-color: var(--color-red);
  color: var(--color-text);
  border: none;
  border-radius: 0.9rem;
  font-size: 1.4rem;
  padding: 0.1rem 0.3rem 0.1rem 0.3rem;
  margin-right: 1rem;
  font-weight: normal;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-filter-form-toggle:focus {
  border: none;
  outline: var(--color-primary-light) solid 2px;
  transform: translateX(2px);
}

.btn-filter-form-toggle:active {
  border: none;
  outline: var(--color-primary-light) solid 2px;
  transform: translateX(2px);
}

.filter-form-content {
  position: sticky;
  top: 0;
  display: flex;
  gap: 1rem;
  background-color: var(--color-primary);
  margin: auto auto;
  border-bottom: 2px solid var(--color-highlight);
  width: 100%; /* Could be more or less, depending on screen size */
  border-radius: 0.9rem 0.9rem 0rem 0rem;
  box-shadow: 0 1.4rem 1.4rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  z-index: 999;
}

.filter-form-content h2 {
  margin-top: 0rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.filter-form-content div {
  margin-bottom: 0rem;
}

.filter-form-content label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.filter-form-content select,
.filter-form-content input {
  height: 2.2rem;
  min-width: 7rem;
  padding: 0.1rem 0.3rem 0.1rem 0.3rem;
  border-radius: 0.9rem;
  background-color: var(--color-text-dark);
  border: none;
}

.filter-form-content select:focus-visible {
  border: none;
  outline: none;
}

.filter-form-content select:active {
  border: none;
  outline: var(--color-text) solid 2px;
}

.filter-form-content button {
  background-color: var(--color-primary-light);
  color: var(--color-text);
  border: none;
  border-radius: 10rem;
  font-size: 1.4rem;
  padding: 1rem;
  margin-top: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.filter-form-content button:hover {
  background-color: var(--color-primary);
}
